<div class="container">
  <app-button-icon [iconType]="homeIcon" (click)="redirectTo(homeUrl)"></app-button-icon>
  <app-button-icon [iconType]="historyIcon"  (click)="redirectTo(historyUrl)"></app-button-icon>
  <app-button-icon [iconType]="chartIcon"  (click)="redirectTo(chartUrl)"></app-button-icon>
  <app-button-icon [iconType]="ordersIcon"  (click)="redirectTo(ordersUrl)"></app-button-icon>
  <app-button-icon [iconType]="guestIcon"  (click)="redirectTo(guestUrl)"></app-button-icon>
  <app-button-icon [iconType]="addIcon" ></app-button-icon>
  <!-- <app-button-icon [iconType]="addIcon"></app-button-icon> -->
</div>
