.container{
  display: flex;
  flex-direction: row;
}

::ng-deep .container__menuBox{
      background: transparent;
      width: 220px;
      height: 210px;
      overflow: none;
      border: none;
      box-shadow: none;
}
